<h1>Checkout</h1>

<%= form_with url: orders_path, method: :post do %>
  <% if current_customer.address.blank? %>
    <h3>Your Address</h3>
    <div>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, current_customer.first_name %>
    </div>
    <div>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, current_customer.last_name %>
    </div>
    <div>
      <%= label_tag :address %>
      <%= text_field_tag :address, current_customer.address %>
    </div>
    <div>
      <%= label_tag :city %>
      <%= text_field_tag :city, current_customer.city %>
    </div>
    <div>
      <%= label_tag :postal_code %>
      <%= text_field_tag :postal_code, current_customer.postal_code %>
    </div>
    <div>
      <%= label_tag :province_id, "Province" %>
      <%= select_tag :province_id, options_from_collection_for_select(Province.all, :id, :name) %>
    </div>
  <% end %>

  <%= submit_tag "Place Order" %>
<% end %>
